<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="container">
        <label id="title">LOGIN</label><br>
        <form class="registerForm">
            <label for="email" class="textOnForm">Email</label><br><br>
            <input type="text" id="emial" name="email" placeholder="user@domain.com" [(ngModel)]="model.email"><br>
            <label for="password" class="textOnForm">Password</label><br><br>
            <input type="password" id="password" name="password" placeholder="*******" [(ngModel)]=model.password><br>
            <div class="item">
                <input type="checkbox" id="checkboxR">
                <label for="checkboxR"  id="checkBoxLabel">Remember&nbsp;me</label>
            </div>
            <label class="error" [hidden]="error == 0 ? true : null">You have entered an invalid email or
                password</label>
            <input type="button" value="LOGIN" class="submitBtn" (click)="onClick()">
        </form>
        <app-social-network-log></app-social-network-log>
        <div class="inside">
            <button class="secondLabel">Forgot password?</button>
        </div>
    </div>
</body>

</html>
