<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="shipping.component.css">
</head>

<body>
    <div class="mainContainer" *ngIf="clicked==false">
        <div class="image">
            <img src="/assets/images/twoDots.png" id="imageSrc">
        </div>
        <div class="container">
            <div class="first">
                <label>SET PRICES</label>
            </div>
            <form class="registerForm">
                <label for="price" class="textOnForm">Your start Price</label><br>
                <label class="error" *ngIf="validatePrice == 0">You must enter a number as price</label>
                <div class="startPriceDiv">
                    <button class="dolarBtn">$</button>
                    <input type="text"  (input)="changePrice($event)" id="price" name="email" [(ngModel)]="model.startPrice">
                </div>
                <br>
                <label class="error" *ngIf="validateDate == 0" >The end date must be after the start date</label>
                <div class="insideFlex">
                    <div>
                        <label for="startDate" class="textOnForm">Start date</label><br>
                        <input type="date" id="startDate" (input)="changeDate($event)"  name="startDate" class="dateLabel"
                            [(ngModel)]="model.startDate">
                    </div>
                    <div>
                        <label for="endDate" class="textOnForm">End date</label><br>
                        <input type="date"  (input)="changeDate($event)" id="endDate" name="endDate" class="dateLabel" [(ngModel)]="model.endDate">

                    </div>
                </div>
                <br><br>
                <label class="text">The auction will be automatically closed when the end date comes. The highest bid
                    will win the auction.</label>
                <br><br>
                <div class="insideFlexBtns">
                    <button class="btn" id="cancelBtn" (cancel)="cancel()">CANCEL</button>
                    <button class="btn" id="backBtn" (click)="remove_me()">BACK</button>
                    <button class="btn" id="nextBtn" (click)=" addComponent()">NEXT</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <ng-template #container></ng-template>
    </div>
</body>

</html>
