html,
body {
    margin: 0;
    padding: 0;
}

app-navbar {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-footer {
    position: relative;
    top:40%;
    /*bottom: 0px;
    width: 100%;*/
}

app-middle {
    height: auto;
    position: relative;
}
