<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AuctionApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div *ngIf="!hasRoute('Product') && !hasRoute('Category')">
    <app-middle></app-middle>
  </div>
  <app-recommended-tab></app-recommended-tab>
  <app-tab></app-tab>
  <app-footer></app-footer>
</body>

</html>
