<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="subcategory.component.css">
</head>

<body>
    <div *ngFor="let subcategory of allSubcategories;let k=index" class="container">
        <div class="subcategoryClass">
            <input type='checkbox' class="checkboxes" id="{{k}}" value="subcateogry" [(ngModel)]='checkbox[k]'
                (ngModelChange)='onCheckboxChange(k,subcategory)'>
        </div>
        <div class="name">
            {{subcategory}} {{" ("}}{{numberOfProducts[k]}}{{")"}}
        </div>
    </div>
</body>

</html>
