<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="details.component.css">
</head>

<body>
    <div class="container">
        <div class="firstColumn">
            <label class="name">Running shoes</label>
            <label class="startPrice">Start From $59</label>
            <label class="detailes">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Vestibulum hendrerit
                odio a erat lobortis auctor. Curabitur <br>sodales pharetra placerat. Aenean auctor luctus
                tempus.<br>Cras
                laoreet et magna in dignissim. Nam et tincidunt augue.<br> Vivamus quis malesuada velit. <br>In hac
                habitasse platea dictumst. </label>
            <button class="bidButton">BID&nbsp;NOW&nbsp;></button>
        </div>
        <div class="secondColumn">
            <div class="image">
                <img src="/assets/images/runningShoes.jpg" id="imageSrc">
            </div>
        </div>
    </div>
</body>

</html>
