<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="details.component.css">
</head>

<body>
    <div class="container">
        <div class="firstColumn">
            <div>
                <label class="name">Running shoes</label>
                <label class="startPrice">Start From $59</label>
                <label class="detailes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit
                    odio a erat lobortis auctor. Curabitur sodales pharetra placerat. Aenean auctor luctus tempus. Cras
                    laoreet et magna in dignissim. Nam et tincidunt augue. Vivamus quis malesuada velit. In hac
                    habitasse platea dictumst. </label>
                <button class="bidButton">BID&nbsp;NOW&nbsp;></button>
            </div>
        </div>
        <div class="secondColumn">
            <div class="image">
                <img id="imageSrc">

            </div>
        </div>
    </div>
</body>

</html>
