.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.container .firstColumn {
    position: relative;
    top: 10%;
    left: 15%;
    gap: 2%;
    height: 70%;
    position: relative;
}

.container .firstColumn {
    position: relative;
    top: 10%;
    justify-content: center;
    align-items: center;
}

.container .firstColumn .name {
    float: left;
    @media (max-width: 40%);
    @media (max-height: 40%);
    font-style: normal;
    font-weight: 400;
    font-size: 250%;
    line-height: 20%;
    letter-spacing: 2%;
    color: #000000;
}

.container .firstColumn .startPrice {
    float: left;
    clear: left;
    @media (max-width: 80%);
    @media (max-height: 30%);
    font-style: normal;
    font-weight: 400;
    font-size: 250%;
    line-height: 10%;
    letter-spacing: 2%;
    color: #8367D8;
    position: relative;
    top: 40%;
}

.container .firstColumn .detailes {
    float: left;
    clear: left;
    @media (max-width: 10%);
    @media (max-height: 60%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9B9B9B;
    position: relative;
    top: 70%;
}

.container .firstColumn .bidButton {
    float: left;
    clear: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
    width: 30%;
    height: 20%;
    position: relative;
    top: 90%;
    border: 3px solid #8367D8;
}

.container .secondColumn {
    position: relative;
    top: 8%;
}

.container .secondColumn .image {
    @media (max-height: 90%);
    @media (max-width: 70%);
}

.container .secondColumn .image #imageSrc {
    height: 120%;
    width: 100%;
}
