<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AuctionApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div [hidden]="clicked == 0?true:null">
        <app-notification [highestBid]="higherBid" [lowerBid]="lowerBid"></app-notification>
    </div>
    <div class="container">
        <div class="first">
            <app-images [images]="images" [imageSrc]="images[0]"></app-images>
        </div>
        <div class="second">
            <label class="name">{{product.name}}</label>
            <div class="gridPrice">
                <label id="startFrom">Start From</label>
                <label id="startPrice"> ${{product.startPrice}}</label>
            </div>
            <div class="priceInfo" *ngIf="authG.canActivate()">
                <div class="bidsInfos">
                    <label id="grey">Highest bid: </label>
                    <label id="purple">${{highestBid}}</label>
                </div>

                <div class="bidsInfos">
                    <label id="grey">Number of bids: </label>
                    <label id="purple">{{bids}}</label>
                </div>

                <div class="bidsInfos">
                    <label id="grey">Time left: </label>
                    <label id="purple">{{timeLeft}}</label>
                </div>
            </div>

            <div class="bidInfo" *ngIf="authG.canActivate()">
                <input [hidden]="displayPaymentButton?true:null" type="text" (keyup)="onKey($event)"
                    [value]="hideText==1?'':null" placeholder="Enter ${{highestBid+1}} or higher" class="input">
                <button [hidden]="displayPaymentButton?true:null" class="button"
                    [disabled]="areSame==1||hide==1?true:null" (click)="onClick()">PLACE&nbsp;BID&nbsp;&nbsp;></button>
            </div>
            <div class="bidInfo" *ngIf="displayPaymentButton == true">
                <button (click)="makePayment(highestBid)" class="button">PAY</button>
            </div>
            <div class="bidInfo" *ngIf="displayPaymentButton == true">
                <button (click)="makePayment(highestBid)" class="button">PAY</button>
            </div>
            <label class="info">Details</label>
            <label class="details">{{product.details}}</label>
        </div>
    </div>
</body>

</html>
