<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="item.component.css">
</head>

<body>
    <div class="container" *ngIf="product" (click)="onClick()">
        <div class="first">
            <div class="itemImage">
                <img src="{{product.imageName![0]}}" id="myimg">
            </div>
        </div>
        <div class="second">
            <div class="insideDivFirst">
                <label id="itemName">{{product.name!}}</label>
            </div>
            <div class="insideDivSecond">
                <div class="gridPrice">
                    <label id="startPrice">Start From&nbsp;</label>
                    <label id="price">${{product.startPrice!}}</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
