<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    <div id="frame170">
        <div id="first">
            <div id="frame369">
                <div id="fbImage">
                    <a href="https://www.facebook.com/">
                        <button id="imageButton"></button>
                    </a>
                </div>
                <div id="igImage">
                    <a href="https://www.instagram.com/">
                        <button id="imageButton"></button>
                    </a>
                </div>
                <div id="twImage">
                    <a href="https://twitter.com/?lang=en">
                        <button id="imageButton"></button>
                    </a>
                </div>
            </div>
            <label id="hiUser">Hi, John Doe</label>
        </div>
        <div id="frame108">
            <div id="second">
                <div id="auctionImage">
                    <button id="auctionImageButton" routerLink=""></button>
                </div>
                <div id="frame107">
                    <input type="text" id="serachBar" placeholder="Try enter: Shoes">
                    <div id="searchBtn">
                        <button id="imageButton" (click)="onClick()">
                            <img src="/assets/images/Vector.png">
                        </button>
                    </div>
                    <div id="frame16">
                        <label id="home">HOME</label>
                        <label id="shop">SHOP</label>
                        <label id="myAccount">MY&nbsp;ACCOUNT</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
