<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    <div id="frame170">
        <div id="first">
            <div id="frame369">
                <div id="fbImage"></div>
                <div id="igImage"></div>
                <div id="twImage"></div>
            </div>
            <label id="hiUser">Hi, John Doe</label>
        </div>
        <div id="frame108">
            <div id="second">
                <div id="auctionImage"></div>
                <div id="frame107">
                    <input type="text" id="serachBar" placeholder="Try enter: Shoes">
                    <div id="frame16">
                        <label id="home">HOME</label>
                        <label id="shop">SHOP</label>
                        <label id="myAccount">MY ACCOUNT</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
