<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    <div id="frame170">
        <div id="first">
            <app-social-network-btns></app-social-network-btns>
            <div class="insideGrid" *ngIf="!authGuard.canActivate()">
                <button class="accountBtn" routerLink="/Login">Log in&nbsp;&nbsp;</button>
                <label class="labelOr">or</label>
                <button class="accountBtn" routerLink="/Register">&nbsp;&nbsp;Create an account</button>
            </div>
            <div class="loggedInUser" *ngIf="authGuard.canActivate()">
                <label id="hiUser">Hi {{user.name}}</label>
                <!--<button class="btnNotifications" (click)="showNotifications()" type="button" cdkOverlayOrigin
                    #trigger="cdkOverlayOrigin">
                    <div *ngIf="size!=0" [matBadge]="size" 
                        matBadgeSize="medium" matBadgeOverlap="true" class="demo-section">
                    </div>
                    <img id="notifcationImage" src="/assets/images/notification-icon.png">
                </button>
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="isOpen">
                    <div class="list" >
                        <div class = "listOfWsNotifications" *ngFor="let notification of listOfNotifications">
                            <li><app-ws-notifications [notification]="notification">
                            </app-ws-notifications></li>
                        </div>
                    </div>
                </ng-template>-->
                <button (click)="logOut()" class="logOutBtn">Log out</button>
            </div>
        </div>
        <div id="frame108">
            <div id="second">
                <div id="auctionImage">
                    <button id="auctionImageButton" routerLink=""></button>
                </div>
                <div id="frame107">
                    <input type="text" id="serachBar" placeholder="Try enter: Shoes">
                    <div id="searchBtn">
                        <button id="imageButton" (click)="onClick()">
                            <img src="/assets/images/Vector.png">
                        </button>
                    </div>
                    <div id="frame16">
                        <button id="home" routerLink="/">HOME</button>
                        <button id="shop" routerLink="/Category">SHOP</button>
                        <button id="myAccount" (click)="myAccountAction()">MY&nbsp;ACCOUNT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
