.container {
    display: flex;
}

.imgOfProduct {
    float: left;
}

.name {
    float: left;
    clear: left;
    font-weight: bold;
    font-size: 135%;
    line-height: 20%;
    letter-spacing: 0em;
    position: relative;
    top: 4%;
    font-weight: 500;
}

.price {
    float: left;
    clear: left;
    color: #8367D8;
    font-size: 120%;
    line-height: 20%;
    letter-spacing: 0em;
    position: relative;
    top: 40%;
}

.details {
    float: left;
    clear: left;
    color: #9B9B9B;
    position: relative;
    top: 25%;
}

.insideFlex {
    float: left;
    clear: left;
    display: flex;
    position: relative;
    top: 60%;
    margin-left: -5%;
    gap: 5%;
    height: 20%;
}

.image {
    float: left;
    height: 20%;
    width: 20%;
}

.imgSrc {
    width: 90%;
    height: 80%;
}

.btnWishlist {
    background-color: white;
    width: 100%;
    width: 80%;
    border: none;
}

.btnBbid {
    background-color: white;
    width: 100%;
    border: none;
}

.imageBtnWhishList {
    position: relative;
    height: 60%;
    margin-top: 5%;
    margin-right: 10%;
}

.imageBtnBid {
    position: relative;
    height: 85%;
    margin-top: 2%;
}
