<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="tab.component.css">
</head>

<body>
    <div class="container">
        <mat-tab-group>
            <mat-tab label="New Arrivals">
                <div class="firstTab">
                   <app-new-arrivals></app-new-arrivals>
                </div>
            </mat-tab>
            <mat-tab label="Last Chance">
                <div class="secondTab">
                    <app-last-chance></app-last-chance>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
   
</body>

</html>
