<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="seller-tab.component.css">
</head>

<body>
    <div class="container">
        <div class="insideFlex">
            <button class="topBtns" id="activeBtn">Active</button>
            <button class="topBtns" id="soldBtn">Sold</button>
        </div>
        <div class="first">
            <label class="item">Item</label>
            <label class="name">Name</label>
            <label class="item">Time left</label>
            <label class="item">Your price</label>
            <label class="item">No. bids</label>
            <label class="item">Highest bid</label>
        </div>
        <div class="second">
            <div class="image">
                <img src="/assets/images/selling.png" class="imgBtn">
            </div>
            <div class="labelBtn">
                <label
                    class="label">You&nbsp;do&nbsp;not&nbsp;have&nbsp;any&nbsp;scheduled&nbsp;items&nbsp;for&nbsp;sale.</label>
                <button class="startBtn"> START SELLING</button>
            </div>
        </div>
    </div>
</body>

</html>
