<component name="libraryTable">
  <library name="springframework.spring.aspects" type="repository">
    <properties maven-id="org.springframework:spring-aspects:5.3.23" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aspects/5.3.23/spring-aspects-5.3.23.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/aspectj/aspectjweaver/1.9.7/aspectjweaver-1.9.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>