<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="my-account.component.css">
</head>

<body>
    <div class="container">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Profile">
                <div class="secondTab">
                    <app-profile></app-profile>
                </div>
            </mat-tab>
            <mat-tab label="Seller">
                <div class="secondTab">
                    <app-seller-tab></app-seller-tab>
                </div>
            </mat-tab>
            <mat-tab label="Bids">
                <div class="secondTab">
                    <app-bid-tab></app-bid-tab>
                </div>
            </mat-tab>
            <mat-tab label="Whishlist">
                <div class="secondTab"></div>
            </mat-tab>
            <mat-tab label="Settings">
                <div class="secondTab">
                    <app-settings></app-settings>
                </div>
            </mat-tab>
            <mat-tab label="">
                <div class="secondTab"></div>
            </mat-tab>
            <mat-tab label="+ ADD ITEM" id="addButton">
                <div class="secondTab"></div>
            </mat-tab>
        </mat-tab-group>
    </div>

</body>

</html>
