<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="container">
        <label id="title">REGISTER</label><br>
        <form class="registerForm">
            <label for="fname" class="textOnForm">First Name:</label><br><br>
            <input type="text" id="fname" name="fname" placeholder="John"><br>
            <label for="lname" class="textOnForm">Last Name:</label><br><br>
            <input type="text" id="lname" name="lname" placeholder="Doe"><br>
            <label for="email" class="textOnForm">Enter Email</label><br><br>
            <input type="text" id="emial" name="email" placeholder="user@domain.com"><br>
            <label for="password" class="textOnForm">Password</label><br><br>
            <input type="password" id="password" name="password" placeholder="*******"><br>
            <input type="submit" value="REGISTER" class="submitBtn">
        </form>
        <div class="insideFlex">
            <button class="buttonSignup">
                <span id="btnContainer">
                    <img src="/assets/images/img1.png" class="imgBtn">
                    <span class="spanText">Singup&nbsp;With&nbsp;Facebook</span>
                </span>
            </button>
            <button class="buttonSignup">
                <span id="btnContainer">
                    <img src="/assets/images/img2.png" class="imgBtn">
                    <span class="spanText"> Signup With Gmail</span>
                </span>
            </button>
        </div>
        <div class="inside">
            <label class="firstLabel">Already have an acconut?</label>
            <button class="secondLabel">Login</button>
        </div>
    </div>
</body>

</html>
