.container {
    min-height: 135%;
    width: 50%;
    border: 2px solid grey;
    position: relative;
    top:10%;
    left: 25%;
    padding-top: 1.5%;
}

.registerForm {
    position: relative;
    left: 10%;
    top: 15%;
    padding-top: 4%;
}

#title {
    background-color: #FCFCFC;
    position: relative;
    top: 10%;
    font-family: 'Lato';
    font-style: normal;
    color: #000000;
    font-weight: 300;
    font-size: 135%;
    line-height: 20%;
    padding: 2% 42.6%;
    font-weight: bold;
}

.textOnForm {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 135%;
    line-height: 20%;
}

.submitBtn {
    width: 78%;
    background-color: #8367D8;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 135%;
    line-height: 20%;
    padding: 3%;
}

input {
    margin-bottom: 5%;
    width: 70%;
    padding: 3%;
    border: 1px solid grey;
    background-color: #FCFCFC;
}

.inside {
    display: flex;
    gap: 2%;
    top: 15%;
    position: relative;
    left: 30%;
}

.firstLabel {
    color: #9B9B9B;
}

.secondLabel {
    color: #8367D8;
    border: none;
    background-color: white;
}

.error {
    color: red;
}
