<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="container">
        <label id="title">REGISTER</label><br>
        <form class="registerForm">
            <label for="fname" class="textOnForm">First Name:</label><br><br>
            <input type="text" id="fname" name="fname" placeholder="John" [(ngModel)]="model.name"><br>
            <label for="lname" class="textOnForm">Last Name:</label><br><br>
            <input type="text" id="lname" name="lname" placeholder="Doe" [(ngModel)]="model.surname"><br>
            <label for="email" class="textOnForm">Enter Email</label><br><br>
            <input type="text" id="email" name="email" placeholder="user@domain.com" [(ngModel)]="model.email"><br>
            <label for="password" class="textOnForm">Password</label><br><br>
            <input type="password" id="password" name="password" placeholder="*******" [(ngModel)]="model.password"><br>
            <label class="error" [hidden]="error == 0 ? true : null">You have entered an invalid data </label>
            <input type="button" value="REGISTER" class="submitBtn" (click)="onClick()">
        </form>
        <app-social-network-log></app-social-network-log>
        <div class="inside">
            <label class="firstLabel">Already have an acconut?</label>
            <button class="secondLabel" routerLink="/Login">Login</button>
        </div>
    </div>
</body>

</html>
