.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #252525;
    width: 1440px;
    height: 356px;
    grid-gap: 20px;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.insideDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#frame33 {
    height: 144px;
    width: 154px;
    left: 10%;
    top: 31px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
}

#auctionBtn {
    height: 24px;
    width: 73px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    background-color: #252525;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame32 {
    height: 97px;
    width: 225px;
    left: 0px;
    top: 48px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 225px;
    height: 97px;
}

#aboutUsBtn {
    height: 24px;
    width: 67px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    background-color: #252525;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D8D8D8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#termsAndCondBtn {
    height: 24px;
    width: 154px;
    left: 0px;
    top: 36px;
    border-radius: nullpx;
    background-color: #252525;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D8D8D8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#privacyAndPolicyBtn {
    height: 24px;
    width: 129px;
    left: 0px;
    top: 72px;
    border-radius: nullpx;
    background-color: #252525;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #D8D8D8;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#frame34 {
    height: 145px;
    width: 225px;
    right: 50%;
    top: 33px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#getInTouchBtn {
    height: 24px;
    width: 112px;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    border: none;
    background-color: #252525;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame35 {
    height: 24px;
    width: 225px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 225px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#callUsBtn {
    height: 24px;
    width: 67px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    border: none;
    background-color: #252525;
    width: 67px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D8D8D8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#numberBtn {
    height: 24px;
    width: 146px;
    left: 79px;
    top: 0px;
    border-radius: nullpx;
    width: 146px;
    height: 24px;
    background-color: #252525;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D8D8D8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#mailBtn {
    height: 24px;
    width: 157px;
    left: 0px;
    top: 36px;
    border-radius: nullpx;
    width: 157px;
    height: 24px;
    border: none;
    background-color: #252525;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D8D8D8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#container {
    height: 25px;
    width: 106px;
    left: 0px;
    top: 72px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#frame369 {
    height: 25px;
    width: 106px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 106px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#fbImage {
    height: 24px;
    width: 24px;
    left: 0px;
    top: 0.5px;
    border-radius: 0px;
    background: url('/assets/images/fb.png');
    flex: none;
    order: 0;
    flex-grow: 0
}

#igImage {
    height: 25px;
    width: 25px;
    left: 40px;
    top: 0px;
    border-radius: 0px;
    background: url('/assets/images/ig.png');
    flex: none;
    order: 1;
    flex-grow: 0;
}

#twImage {
    height: 25px;
    width: 25px;
    left: 81px;
    top: 0px;
    border-radius: 0px;
    background: url('/assets/images/tw.png');
    flex: none;
    order: 2;
    flex-grow: 0;
}

#frame36 {
    height: 145px;
    width: 225px;
    right: 100%;
    top: 31px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

#newsletterBtn {
    position: relative;
    height: 24px;
    width: 112px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    border: none;
    background-color: #252525;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame37 {
    height: 97px;
    width: 225px;
    left: 0px;
    top: 48px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#labelEmail {
    height: 48px;
    width: 180px;
    border-radius: nullpx;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #D8D8D8;
    background-color: #252525;
    border: none;
    padding: 0;
    background: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#inputEmail {
    height: 18px;
    width: 190px;
    background-color: #404040;
    border: none;
    padding: 13px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#goBtn {
    border-radius: nullpx;
    width: 150px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 8px;
    letter-spacing: 0em;
    text-align: center;
    color: #D8D8D8;
    background-color: #252525;
    border-color: #660066;
    padding: 20px;
    background: none;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame11 {
    height: 25px;
    width: 106px;
    left: 0px;
    top: 72px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;

}
