<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="footer.component.css">
</head>

<body>
  <div class="grid-container">
    <div id="frame33">
      <button type="button" id="auctionBtn">AUCTION</button>
      <div id="frame32">
        <a href="https://www.termsandcondiitionssample.com/live.php?token=IdRFHFh1aVUctIfpSFzv8f242l3g3ary">
          <button type="button" id="aboutUsBtn">About&nbsp;us</button>
        </a>
        <a href="https://www.termsandcondiitionssample.com/live.php?token=c50Wh9xJpgnBuY15nzTLNpb3itpG7BTR">
          <button type="button" id="termsAndCondBtn">Terms&nbsp;and&nbsp;conditions</button>
        </a>
        <a href="https://app.websitepolicies.com/policies/edit/acceptable-use-policy/a6ttugq5?policy=basic&qa=y">
          <button type="button" id="privacyAndPolicyBtn">Privacy&nbsp;and&nbsp;Policy</button>
        </a>
      </div>
    </div>
    <div id="frame34">
      <button type="button" id="getInTouchBtn">GET&nbsp;IN&nbsp;TOUCH</button>
      <div id="frame35">
        <button type="button" id="callUsBtn">Call&nbsp;Us&nbsp;at&nbsp;</button>
        <button type="button" id="numberBtn">+123&nbsp;797-567-2532</button>
      </div>
      <button type="button" id="mailBtn">support@auction.com</button>
      <div id="frame11">
        <div id="container">
          <app-social-network-btns></app-social-network-btns>
        </div>
      </div>
    </div>
    <div id="frame36">
      <button type="button" id="newsletterBtn">NEWSLETTER</button>
      <div id="frame37">
        <label
          id="labelEmail">Enter&nbsp;your&nbsp;address&nbsp;and&nbsp;get&nbsp;notified&nbsp;about<br>new&nbsp;products.&nbsp;We&nbsp;hate&nbsp;spam!</label>
        <div class="insideDiv">
          <input type="text" placeholder="Your Email Adress" id="inputEmail">
          <button type="button" id="goBtn">GO&nbsp;&nbsp;></button>
        </div>
      </div>
    </div>
  </div>
</body></html>
