<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="add-item.component.css">
</head>

<body>
    <div class="mainContainer" *ngIf="clicked==false">
        <div class="image">
            <img src="/assets/images/oneDot.png" id="imageSrc">
        </div>
        <div class="container">
            <div class="first">
                <label>ADD ITEM</label>
            </div>
            <form class="registerForm">
                <label for="productName">What do you sell?</label><br>
                <label *ngIf="validateNameOfProduct == 0" class="error">Name field cannot be left blank</label>
                <input class="inputType" type="text" id="productName" name="productName" (input)="changeName($event)"
                    [(ngModel)]="model.name"
                    placeholder="eg.&nbsp;Trgeal:&nbsp;7.1&nbsp;Surroung&nbsp;Sound&nbsp;Gaming&nbsp;Headset&nbsp;for&nbsp;PS4">
                <br><br>
                <div class="insideFlexCategorySubcategory">
                    <label *ngIf="validateCategory == undefined || validateCategory == 1">Select Category</label>
                    <label *ngIf="validateCategory == 0" class="error">Select Category</label>
                    <label *ngIf="validateSubcategory == undefined || validateSubcategory == 1">Select
                        Subcategory</label>
                    <label *ngIf="validateSubcategory == 0" class="error">Select Subcategory</label>
                </div>
                <div class="insideFlex">
                    <div class="select">
                        <select id="subcategories" name="subcategories" (change)="onSelectedCategory()"
                            [(ngModel)]="model.category" required>
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor="let item of listOfNameCategories" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="select">
                        <select id="subcategories" name="subcategories" (change)="onSelectedSubcategory()"
                            [(ngModel)]="model.subcategory" required>
                            <option value="" disabled selected>Select Subcategory</option>
                            <option *ngFor="let item of listOfNameSubcategories" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <label for="message">Description</label>
                <br>
                <label class="error" *ngIf="validateDescription == 0">Description field cannot be left blank</label>
                <br>
                <textarea (input)="changeDescription($event)" name="message" rows="10" cols="30" class="textA"
                    [(ngModel)]="model.description"></textarea>
                <label class="words">100&nbsp;words&nbsp;(700 characters)</label>
                <br><br>
                <div class="dropzone">
                    <label *ngIf="validatePicture==1">{{pictureName}}</label>
                    <label class="error" *ngIf="validatePicture == 0">You forgot to upload the image</label> <br>
                    <label class="custom-file-upload">
                        <input type="file" name="photo" [(ngModel)]="model.photo"
                            (change)="handleFileInput($any($event).target.files)" />
                        Upload Photos
                    </label>
                    <br><br>
                    <label class="drag">or just drag and drop</label>
                    <br><br>
                    <label class="photos">(Add at least 3 photos)</label>
                </div>
                <br><br>
                <div class="insideFlexBtns">
                    <button class="btn" id="cancelBtn" (click)="cancel()">CANCEL</button>
                    <button class="btn" id="nextBtn" (click)="addComponent()">NEXT</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <ng-template #container></ng-template>
    </div>
</body>

</html>
