<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="add-item.component.css">
</head>

<body>
    <div class="mainContainer" *ngIf="clicked==false">
        <div class="image">
            <img src="/assets/images/oneDot.png" id="imageSrc">
        </div>
        <div class="container">
            <div class="first">
                <label>ADD ITEM</label>
            </div>
            <form class="registerForm">
                <label for="productName">What do you sell?</label><br><br>
                <input class="inputType" type="text" id="productName" name="productName" [(ngModel)]="model.name" ) )
                    placeholder="eg.&nbsp;Trgeal:&nbsp;7.1&nbsp;Surroung&nbsp;Sound&nbsp;Gaming&nbsp;Headset&nbsp;for&nbsp;PS4">
                <br><br>
                <div class="insideFlexCategorySubcategory">
                    <label>Select Category</label>
                    <label>Select Subcategory</label>
                </div>
                <div class="insideFlex">
                    <div class="select">
                        <select id="subcategories" name="subcategories" [(ngModel)]="model.category" required>
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor="let item of listOfNameCategories" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>

                    <div class="select">
                        <select id="subcategories" name="subcategories" [(ngModel)]="model.subcategory" required>
                            <option value="" disabled selected>Select Subcategory</option>
                            <option *ngFor="let item of listOfNameSubcategories" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <label for="message">Description</label>
                <br>
                <textarea name="message" rows="10" cols="30" class="textA" [(ngModel)]="model.description"></textarea>
                <label class="words">100&nbsp;words&nbsp;(700 characters)</label>
                <br><br>
                <div class="dropzone">
                    <label class="custom-file-upload">
                        <input type="file" name="photo" [(ngModel)]="model.photo"
                            (change)="handleFileInput($any($event).target.files)" />
                        Upload Photos
                    </label>
                    <br><br>
                    <label class="drag">or just drag and drop</label>
                    <br><br>
                    <label class="photos">(Add at least 3 photos)</label>
                </div>
                <br><br>
                <div class="insideFlexBtns">
                    <button class="btn" id="cancelBtn">CANCEL</button>
                    <button class="btn" id="nextBtn" (click)=" addComponent()">NEXT</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <ng-template #container></ng-template>
    </div>
</body>

</html>
