.mainContainer {
    width: 40%;
    position: relative;
    left: 30%;
    margin-top:5%;
}

.image {
    position: relative;
    left: 35%;
    padding-bottom: 3%;
}

.container {
    float: left;
    clear: left;
    border: 3px solid #E3E3E3;
    width: 120%;
}

.first {
    background-color: #FCFCFC;
    padding: 4% 0% 4% 40%;
    font-weight: bold;
}

.registerForm {
    padding: 2% 0% 2% 7%;
}

.inputType {
    width: 85%;
    padding: 3% 3% 3% 3%;
    background-color: #FCFCFC;
    border: 1px solid lightgray;
}

.insideFlex {
    display: flex;
    gap: 25%
}

#subcategories {
    width: 160%;
    padding: 5% 10% 5% 10%;
    background-color: #FCFCFC;
    border: 1px solid lightgray;
}

select:required:invalid {
    color: black;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.textA {
    width: 90%;
    background-color: #FCFCFC;
    border: 1px solid lightgray;
}

.words {
    color: gray;
    position: relative;
    left: 58%;
}

.dropzone {
    width: 90%;
    padding: 12% 0% 12% 0%;
    border: dashed 1px gray;
    text-align: center;
    position: relative;
    margin-top: -3%;
}

.photos {
    color: gray
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: none;
    display: inline-block;
    padding: 2% 5%;
    cursor: pointer;
    color: #8367D8;
    position: relative;
    right: 2%;
}

.btn {
    padding: 2% 18% 2% 18%;
    font-weight: bold;
}

#cancelBtn {
    border: 1px solid lightgrey;
    background-color: white;
}

#nextBtn {
    background-color: #8367D8;
    color: white;
    border: none;
    position: relative;
    left: 1%;
}

.insideFlexCategorySubcategory{
    display: flex;
    gap:30%;
}

.error{
    color:red;
}

.insideFlexBtns{
    position: relative;
    margin-top: -5%;
}
